// SASS VARIABLES 

$blue:#406178;
$gray:#D6D7D8;
$yellow:#D1AA3A;

/*=====----- UNIVERSAL STYLES -----=====*/

nav {
  box-shadow: none;
  position: absolute;
}
.card{
  height: 300px;
}

// NAV

#nav-trigger{
  background-color:$gray;
  border: 2px solid $blue;
  height: 64px;
  width: 64px;
  margin-left: 1em;
  margin-top: 1em;
  i{
    color: $blue;
    font-size: 3.2em;
  }
}
#slide-out{
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  li{
    a{
      background-color:$blue;
      color:white;
      margin:1em;
      -vendor-animation-duration: 1s;
      -vendor-animation-delay: 0s;
      -vendor-animation-iteration-count: infinite;
    }
  }
}
#slide-out li:hover{
  background-color:transparent;
  a{
    background-color:$yellow;
  }
}


.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 0.5;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.main-body{
  overflow: hidden;
}
.section{
  padding: 0;
}

.main-section{
  background-image: url(../images/bg-large.jpg);
  background-size: 100% 100%;
  padding-left: 81px;
  padding-right: 54px;
}
.row{
  margin-bottom: 0;
}

.top-row > .col,
.bottom-row > .col{
  height: 50vh;
}


/*===------ TOP ROW ------========*/

.coder-block{
  margin: 0 auto;
}

/*ABOUT PAGE*/
.icon-block{
  text-align: center;
}
.contact-me {
  margin-top: 1rem;
}


// top left card
#topLeft{
  background-image:url(../images/top-left.png);
}

.top-left{
  .card-title{
    background-color: transparent;
    display: block;
    padding: 0.5em;
    padding-right: 2em;
  }
  .card-content{
    .btn, 
    .btn-large{
      background-color:$yellow;
    }
  }
}
// top middle card

#topMiddle{
  background-image:url(../images/sixReasons.png);
  background-size: 100% 100%;
}

.top-middle{
  .card-title{
    background-color: $blue;
    display: block;
    margin:0;
    padding-right: 12px;
    min-height: 72px;
    line-height:72px;
    font-size: 38px;
    color: $yellow;
  }
  .card-action{
    .btn,
    .btn-large{
      background-color:$yellow;
      color: white;
    }
  }
}
// top right card
#topRight{
  background-image: url(../images/services.png);
}

.top-right{
  .card-title{
    background-color: $blue;
    display: block;
    margin:0;
    padding-right: 12px;
    min-height: 72px;
    line-height:72px;
    font-size: 38px;
    color: $yellow;
  }
  .card-content{
    padding:10px;
    ul{
      margin:0;
      li{
        font-size: 1.4em;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 0.4em;
        padding: 0 1em;
        text-align: center;
      }
    }
  }
}
//bottom left card 
#bottomLeft{
  background-image: url(../images/stanSpeaks.png);
}
.bottom-left{
  .card-title{
    background-color: $blue;
    display: block;
    margin:0;
    padding-right: 12px;
    font-size: 20px;
    min-height: 72px;
    color: $yellow;
  }
  .card-content{
    padding:10px;
    ul{
      margin:0;
      li{
        font-size: 1.4em;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        margin-bottom: 0.4em;
        padding: 0 1em;
        text-align: center;
      }
    }
  }
}
//bottom middle card
.bottom-middle{
  .card-title{

  }
  .card-content{
    padding:8px;
    .btn, 
    .btn-large{
      background-color:$yellow;
      margin-top: 10px;
    }
  }
  .contact-social{
    padding:0;
    ul{
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
      li{
        display: inline-block;
        i{
          color: $yellow;
          font-size: 2.2em;
          margin: 0 0.3em;
          padding: 0.2em;
        }
      }
    }
  }
}
//bottom right top card
#news{
  .bottom-card{
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    .btn, 
    .btn-large{
      background-color:$yellow;
    }
    .btn-outline{
      background-color: white;
      border: 2px solid $yellow;
      color: $yellow; 
    }
  }
  .stories{
    background-image: url(../images/background-pattern.png);
    height: 170px;
  }
  .news-letter{
    background-image: url(../images/background-pattern.png);
    height: 108px;
    .spanOne{
      color: $yellow;
      font-size: 18px;
    }
    .spanTwo{
      color: $blue;
      font-size: 10px;
    }
  }
}
//bottom right botttom card




.top-row{
  height: 50%;
}
.bottom-row{
  height: 50%;
}
/*====----MEDIA QUERIES----====*/

@media (max-width: 600px){
  .main-body{
    overflow: auto;
  }
}

@media (max-width: 1000px){
  .card-content{
    p{
      font-size: 0.8em;
    }
}
}

